.main{
    text-align: center;
}
.container{
    margin-bottom: 10px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1)!important;
}

ul{
    font-size: 20px;
}
.nav-link {
    display: inline;
}


.navbar-text{
    padding-top: 0;
    padding-bottom: 0;
}

a {
    color: #0066c0!important;
}
h1 {
    color: #239346;
    font-weight: bold;
}
#button{
    padding-top: 10px;
}
p{
    font-size: 20px;
}
h2{
    font-weight: bold;
    color: #239346;
}
.no_login {
    text-align: center;
}

table, td, th {
	text-align: center;
}
th{
    font-size: 25px;
    color: #e73c50;
}

.center_text {
    text-align: center;
}

#cart table, td, th {
	text-align: left;
}
img{
    width: 100%;
}
#detail, #picture {
    margin-top: auto!important;
    margin-bottom: auto!important;
 }

@media screen and (max-width: 767px) {
    #logo{
        width: auto; height: 50px;
    }
    .center_text{
        margin-left: 20px;
    }

    #detail {
        text-align: center;
    }
    #order{
        padding-left: 50px!important;
        padding-right: 50px!important;
    }
    #detail_sub{
        text-align: left;
        padding-left: 33%;
    }
    h6{
        font-size: 16px;
    }
    h5{
        font-size: 16px;
    }
    #navbar {
    font-size: 12px;
    }
    ul {
        font-size: 16px;
    }
     #big, h1{
     font-size: 23px;
    }
    h3{
        font-size: 19px;
    }
    .center_h1 {
        margin-left: 10%;
    }

}
@media only screen and (min-device-width : 767px) and (max-device-width : 1024px) {
 h6 {
     font-size: 23px;
    }
 .center_h1 {
     margin-left: 20%;
 }
 #navbar{
    font-size: 14px;
}
 h1{
     font-size: 33px;
 }
    #big {
        font-size: 33px;
    }
    #product_h1{
      padding-bottom: 10px;
    }
 h3{
     font-size: 23px;
 }
 #detail {
     text-align: left;
     padding-left: 30px;
 }
 #logo{
        width: auto; height: 65px;
    }
}
@media screen and (min-width: 1024px) {
    h6 {
        font-size: 23px;
    }
    .center_h1 {
        margin-left: 30%;
    }
    #detail{
        padding-left: 80px;
    }
    #big {
        font-size: 55px;
    }
    #product_h1{
        padding-bottom: 10px;
    }
    #logo{
        width: auto; height: 90px;
    }


}