.main{
    text-align: center;
}
.container{
    margin-bottom: 10px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1)!important;
}
a {
    color: #239346 !important;
}
h1 {
    color: #239346;
    font-weight: bold;
}
p{
    font-size: 20px;
}
h2{
    font-weight: bold;
    color: #239346;
}
.no_login {
    text-align: center;
}

table, td, th {
	text-align: center;
}
th{
    font-size: 25px;
    color: #e73c50;
}
.center_text {
    text-align: center;
}

#cart table, td, th {
	text-align: left;
}
img{
    width: 100%;
}
#detail, #picture {
    margin-top: auto!important;
    margin-bottom: auto!important;
 }

@media screen and (max-width: 767px) {
    .center_text{
        margin-left: 20px;
    }
    #detail {
        text-align: center;
    }
    #detail_sub{
        text-align: left;
        padding-left: 30%;
    }
    h6{
        font-size: 16px;
    }
    h5{
        font-size: 16px;
    }
    ul {
        font-size: 17px;
    }
    h1, #big{
     font-size: 30px;
    }
    h3{
        font-size: 23px;
    }
    .center_h1 {
        margin-left: 10%;
    }
}
@media only screen and (min-device-width : 767px) and (max-device-width : 1024px) {
 h6 {
     font-size: 23px;
    }
 .center_h1 {
     margin-left: 20%;
 }
 h1, #big{
     font-size: 33px;
    }
 h3{
     font-size: 23px;
 }
 #detail {
     text-align: left;
     padding-left: 30px;
 }
}
@media screen and (min-width: 1024px) {
    h6 {
        font-size: 23px;
    }
    .center_h1 {
        margin-left: 30%;
    }
    #detail{
        padding-left: 80px;
    }
    #big{
        font-size: 55px;
    }
}