{% extends 'orders/base.html' %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="center_text">
        <h1>Your Cart</h1>
        {% if not cart %}
            <h3 style="font-weight: bold;">Empty cart</h3>
        {% else %}
            {% for item in cart %}
                <div class="row justify-content-center">
                    <div class="col col-8 col-sm-8 col-md-6 col-lg-5 text-left">
                        <h5>{{ item.food.name }}
                            {% if item.food.size %}{{  item.food.size }}{% endif %}
                        </h5>
                        {% if item.toppings.all %}
                            <ul>
                                {% for topping in item.toppings.all %}
                                    <li>{{ topping }} </li>
                                 {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-4 col-sm-4 col-md-2 col-lg-2 text-right">
                        <form action="{% url 'delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ item.id }}"/>
                            <h5><span>{{ item.food.price }} </span><button type="submit">x</button></h5>
                        </form>
                    </div>
                </div>
            {% endfor %}
            <br>

            <h2 style="font-weight: bold;">Total {{ total }} $</h2>
            <br>
            <form action="{% url 'checkout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-lg btn-success">Order</button>
                <br>
                <br>
            </form>
        {% endif %}
     </div>
{% endif %}
{% endblock %}
