{% extends 'orders/base.html' %}
{% load static %}
{% block title %}Order{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="center_text">
        <h2>{{ username }}, thanks for your order  # {{ order_number.id }}!</h2>
        <h4>We're working on it!</h4>
        <nav class="nav flex-column" style="font-weight: bold; font-size: 30px;">
            <a class="nav-link" href="{% url 'menu_pizza' %}">Back to menu</a>
        </nav>
    </div>
{% endif %}
{% endblock %}
