{% extends 'orders/base.html' %}
{% load static %}
{% block title %}Dinner Platters's detail{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="row">
        <div id="detail" class="col-sm-12 col-md-5 col-lg-6">
            <h1 id="big">Dinner Platters {{ dinner_platter.name }}</h1>
            <h3><strong>Size:</strong> {{ dinner_platter.size }}</h3>
            <h3><strong>Price:</strong> {{ dinner_platter.price }}$</h3>
            <form action="{% url 'dinner_platters_order' dinner_platter.id %}" method="post">
                {% csrf_token %}
                <div id="button">
                    <input class="btn-lg btn-primary btn-danger" type="submit" value="Add to cart" /></div>
            </form>
        </div>
        <div id="picture" class="col-sm-12 col-md-7 col-lg-6">
            <img src="{% static 'orders/img/dinner_platters.jpg' %}" style="margin-top: 10px;">
        </div>
    </div>
{% endif %}
{% endblock %}
