{% extends 'orders/base.html' %}
{% block title %}Pasta{% endblock %}
{% block content %}
    <table class="table-striped table-bordered table-hover table-condensed col-sm-12">
        <th class="text-center">Pasta</th><th class="text-center">Price</th>
        {% for pasta in pasta %}
            <tr>
                <td class="text-center"><a href="{% url 'pasta' pasta.id %}">{{ pasta.name }}</a></td>
                <td class="text-center">{{ pasta.price }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
