{% extends 'orders/base.html' %}
{% load static %}
{% block title %}Pasta's detail{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="row">
        <div id="detail" class="col-sm-12 col-md-5 col-lg-6">
            <h1 id="big">Pasta</h1>
            <h1 id="product_h1">{{ pasta.name }}</h1>
            <h3><strong>Price: </strong> {{ pasta.price }}$</h3>
            <form action="{% url 'pasta_order' pasta.id %}" method="post">
                {% csrf_token %}
                <div id="button">
                    <input type="number" value="1" name="number" min="1" max="10">
                    <input id="button" class="btn-lg btn-primary btn-danger" type="submit" value="Add to cart" /></div>
            </form>
        </div>
        <div id="picture" class="col-sm-12 col-md-7 col-lg-6">
            <img src="{% static 'orders/img/pasta.jpeg' %}" style="margin-top: 10px;">
        </div>
    </div>
{% endif %}
{% endblock %}
