{% extends 'orders/base.html' %}
{% load static %}
{% block title %}Pasta's detail{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="row">
        <div id="detail" class="col-sm-12 col-md-4 col-lg-5">
            <h1 style="font-size: 60px;">Pasta</h1>
            <h1>{{ pasta.name }}</h1><br>
            <h3><strong>Price: </strong> {{ pasta.price }}$</h3><br>
            <form action="{% url 'pasta_order' pasta.id %}" method="post">
                {% csrf_token %}
                <input id="button" class="btn-lg btn-primary btn-danger" type="submit" value="Add to basket" />
            </form>
        </div>
        <div id="picture" class="col-sm-12 col-md-8 col-lg-7">
            <img src="{% static 'orders/img/pasta.jpeg' %}" style="margin-top: 10px;">
        </div>
    </div>
{% endif %}
{% endblock %}
