{% extends 'orders/base.html' %}
{% load static %}
{% block title %}Pizza detail{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="row">
        <div id="detail" class="col-sm-12 col-md-5 col-lg-6">
            <h1 id="big">Pizza {{ pizza.select_toppings }}</h1>
            <h3><strong>Type: </strong>{{ pizza.type }}</h3>
            <h3><strong>Size: </strong>{{ pizza.size }}</h3>
            <h3><strong>Price: </strong>{{ pizza.price }}$</h3>
            <form action="{% url 'pizza_order' pizza.id %}" method="post">
                {% csrf_token %}
                {% if pizza.select_toppings.number == "1 topping"%}
                    <h3><strong>Add toppings:</strong></h3>
                    {% for i in "i" %}
                        <select required class="form-control" name="topping{{ forloop.counter0|add:'1' }}">
                            <option value="" selected disabled hidden>topping {{ forloop.counter0|add:'1' }}</option>
                            {% for topping in toppings %}
                                <option value="{{ topping }}">{{ topping }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                {% elif pizza.select_toppings.number == "2 toppings"%}
                    <h3><strong>Add toppings:</strong></h3>
                    {% for i in "ii" %}
                        <select required class="form-control" name="topping{{ forloop.counter0|add:'1' }}">
                            <option value="" selected disabled hidden>topping {{ forloop.counter0|add:'1' }}</option>
                            {% for topping in toppings %}
                                <option value="{{ topping }}">{{ topping }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                {% elif pizza.select_toppings.number == "3 toppings"%}
                    <h3><strong>Add toppings:</strong></h3>
                    {% for i in "iii" %}
                        <select required class="form-control" name="topping{{ forloop.counter0|add:'1' }}">
                            <option value="" selected disabled hidden>topping {{ forloop.counter0|add:'1' }}</option>
                            {% for topping in toppings %}
                                <option value="{{ topping }}">{{ topping }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                {% elif pizza.select_toppings.number == "Special"%}
                    <h3><strong>Add toppings:</strong></h3>
                    {% for i in "iiii" %}
                        <select required class="form-control" name="topping{{ forloop.counter0|add:'1' }}">
                            <option value="" selected disabled hidden>topping {{ forloop.counter0|add:'1' }}</option>
                            {% for topping in toppings %}
                                <option value="{{ topping }}">{{ topping }}</option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                {% endif %}
            <div id="button">
                <input id="button" class="btn-lg btn-primary btn-danger" type="submit" value="Add to basket" /></div>
            </form>
        </div>
        <div id="picture" class="col-sm-12 col-md-7 col-lg-6">
            <img src="{% static 'orders/img/pizza.png' %}">
        </div>
    </div>
{% endif %}
{% endblock %}
