{% extends 'orders/base.html' %}
{% load static %}
{% block title %}Salad's detail{% endblock %}
{% block content %}

{% if user.is_authenticated %}
    <div class="row">
        <div id="detail" class="col-sm-12 col-md-4 col-lg-5">
            <h1 style="font-size: 60px;">Salad</h1>
            <h1>{{ salad.name }}</h1><br>
            <h3><strong>Price:</strong> {{ salad.price }}$</h3>
            <br>
            <form action="{% url 'salads_order' salad.id %}" method="post">
                {% csrf_token %}
                <input class="btn-lg btn-primary btn-danger" type="submit" value="Add to basket" />
                <br><br>
            </form>
        </div>
        <div id="picture" class="col-sm-12 col-md-8 col-lg-7">
            <img src="{% static 'orders/img/salad.jpg' %}" style="margin-top: 10px;">
        </div>
    </div>
{% endif %}
{% endblock %}
